<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/cue.js"> </script>


<head>
    <style type="text/css">
        body { margin:0; }
    </style>

</head>
<body onload="load()">



<fieldset id = "cue">
    <legend>CS4 Cue Sender</legend>
    <label>Showname</label>
    <input id=showname name=showname type=text value='<%=wiz.ShowName%>' required style = "width: 10em" >

    <ul> <input type = "radio" checked name = "cueoutput" id = "slide" value = "Slide" checked >
        <label for = "slide">Slides</label></ul>
    <ul><input type = "radio" name = "cueoutput" id = "auda" value = "AudA" >
        <label for = "auda">AudA</label></ul>
    <ul> <input type = "radio"  name = "cueoutput" id = "audb" value = "AudC" >
        <label for = "audb">AudB</label></ul>
    <ul> <input type = "radio"  name = "cueoutput" id = "audc" value = "AudC"  >
        <label for = "audc">AudC</label></ul>
    <ul> <input type = "radio"  name = "cueoutput" id = "video" value = "Video"  >
        <label for = "video">Video</label></ul>



    <button id = "sendcue"  onmousedown = "sendcuebutton()"> Send Cue </button>

    <label>Next Cue</label>
    <input id=cuenumber name=cuenumber type=text value="1" required style = "width: 3em" >
    <label>Delay</label>
    <input id=cuetime name=cuetime type=text value="5" required style = "width: 3em" >
    <button id = "sendcueauto"  onmousedown = "sendcueautobutton()">Send Cue Auto</button>

</fieldset>
<fieldset id = logdata>
    <legend>Data Sent</legend>

</fieldset>
<fieldset id = "Buttons">
    <legend>Button Simulator</legend>
    <button id = "button1"  onmousedown = "sendbutton(1)"> 1 (UP/Left) </button>
    <button id = "button2"  onmousedown = "sendbutton(2)"> 2 (DOWN/Right) </button>
    <button id = "button3"  onmousedown = "sendbutton(3)"> 3 (Enter) </button>
    <button id = "button4"  onmousedown = "sendbutton(4)">4 </button>
    <button id = "button5"  onmousedown = "sendbutton(5)"> 5 </button>
    <button id = "button6"  onmousedown = "sendbutton(6)"> 6 </button>
    <button id = "button7"  onmousedown = "sendbutton(7)"> 7 </button>

</fieldset>


</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
