<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/r6.js"> </script>


<head>
    <style type="text/css">
        body { margin:0; }
    </style>

</head>
<body onload="load()">
<div id = 'display'  >

    <div id = 'canvasdiv' style="position: absolute; left:0px; top:0px; z-index: 1;">
        <canvas id ='canvas' ></canvas>
    </div>

    <div id = 'videodiv' style="position: absolute;left: 0px;top: 0px;z-index: -1;">
        <video id ='video' ></video>
    </div>
</div>

<div id='body'>
    Waiting for Events...
</div>

</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
