<!DOCTYPE html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script src="/javascripts/updateunit.js"> </script>
<link rel="stylesheet" type="text/css" media="all" href="/css/updateunit.css" />


<head>
    <style type="text/css">
        body { margin:0; }
    </style>

</head>
<body onload="load()">
update unit <br>
<input type="file" id="selectfiles" multiple="multiple" webkitdirectory="" directory="">
<br>
<textarea id = "status" rows = "30" cols = "80"></textarea>
<button onclick="upload()">UPLOAD</button>
<div id="myProgress">
    <div id="myBar"></div>
</div>
</body>
</html>
<script>
        settings=<%-JSON.stringify(settings)%>
        wiz=<%-JSON.stringify(wiz)%>
        wsUri = "ws://" + window.location.hostname + ":<%=wsport%>";

</script>
