#selectedSettingsFile{
    background-color: lightyellow;
    margin-left: 50px  ;
    width: 15em;
    text-align: justify;
}

#confirm{
    margin-left: 50px  ;
    font-size: 24px;
    background-color: green;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 14em;
}

#info{
    margin-left: 50px;
}

#infoIP{
    margin-left: 120px;
    margin-top:0px;
}